{{ define "main" }}
{{- $year := printf "%v" (.Param "year") -}}
{{- $edition := index site.Data $year -}}
{{- $people := index $edition "people" -}}

<main class="section section--padded">
  {{ partial "previous-edition" . }}

  <h1 class="h1">{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>

  <div class="team">
    {{ range $role := index $edition "roles" }}
    {{ with where $people "role" $role.code }}
    <div class="team-role">
      <h2 class="team-roleTitle">{{ i18n (printf "role_%s" $role.code) | default $role.title }}</h2>
      <div class="team-people" role="list">
        {{ range $person := . }}
        {{- $img := (partial "lookup/person-image" $person.code).Fit "200x200 q100 jpg" -}}
        {{- $member := partial "team-member" (dict "person" $person "img" $img) -}}
        {{ if $person.website }}
        <a class="team-peopleItem" href="{{ $person.website }}" target="_blank" rel="noopener noreferrer" role="listitem" aria-label="{{ printf (i18n "visitProfile") $person.name }}">
          {{ $member }}
        </a>
        {{ else }}
        <div class="team-peopleItem" role="listitem">
          {{ $member }}
        </div>
        {{ end }}
        {{ if $person.break }}
        <div class="team-break" aria-hidden="true"></div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}
