{{ $year := printf "%v" (.Param "year") }}
{{
  $img := (resources.Get "images/logo.png").Resize "500x webp q85"
}}

<div class="banner">
  <div>
    <h2 class="h2">
       <span class="banner-title"> Richiedi il </span> Biglieto 
    </h2>
    <p class="banner-subtitle">Participa anche tu al DevFest Modena il 4-5 ottobre 2025 </p>
    <button class="button banner-button"><a href="{{ .Site.Params.ticketsUrl }}" target="_blank">Richiedi biglietto</a></button>

  </div>
    <div class="banner-image">
      {{ with $img }}
        <img src="{{ $img.Permalink }}" alt="Devfest Modena Logo" width="{{ $img.Width }}" height="{{ $img.Height }}">
      {{ end }}
    </div>
</div>
