{{ $img := (resources.Get "images/logo-simple.png").Resize "500x webp q85" }}

<section class="ctaTickets">
  <div class="ctaTickets-content">
    <div class="ctaTickets-info">
      <h2 class="ctaTickets-title">Biglietti non ancora disponibili</h2>
      <p class="p">Oooops, ci hai trovato troppo presto! I biglietti non sono ancora usciti.</p>
      <p class="p">Puoi scriverci una email e noi ti notificheremo quando apriranno le prenotazioni.</p>
      <a class="button" href="mailto:{{ .Site.Params.email }}" target="_blank">
        Rimani informato
      </a>
    </div>
    <img class="ctaTickets-image" src="{{ $img.Permalink }}" alt="Devfest Modena Logo" width="{{ $img.Width }}" height="{{ $img.Height }}">
  </div>
</section>
