<div class="location-map">
    <div class="location-map__header">
        <h3 class="location-map__header-title h3">Posizione sulla Mappa</h3>
    </div>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.6272781194857!2d10.924734576179626!3d44.64553428768769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fef14e66fdd29%3A0x3de439ba4561f199!2sFondazione%20Collegio%20San%20Carlo!5e0!3m2!1sit!2sit!4v1757016993515!5m2!1sit!2sit"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

