{{ define "main" }}

{{/**
* !Important: The Data for this page can be found in the data folder
* file: currentYear.toml
*/}}

{{ $year := printf "%v" (.Param "year") }}
{{ $parkingIndex := index site.Data $year }}
{{ $parking := index $parkingIndex "parking" }}

{{ $locationIntroductionIndex := index site.Data $year }}
{{ $locationIntroductionRange := index $locationIntroductionIndex "location-introduction" }}
{{ $locationIntroduction := index $locationIntroductionRange 0 }}
{{ $locationImage1 := resources.Get (printf "%s/location/image1.jpg" $year) }}
{{ $locationImage2 := resources.Get (printf "%s/location/image2.jpg" $year) }}

{{ $locationAutoIndex := index site.Data $year }}
{{ $locationAuto := index $locationAutoIndex "location-auto" }}

{{ $locationIndex := index site.Data $year }}
{{ $location := index $locationIndex "location" }}

{{ $locationTrainIndex := index site.Data $year }}
{{ $locationTrain := index $locationTrainIndex "location-train" }}

{{ $locationAirplaneIndex := index site.Data $year }}
{{ $locationAirplane := index $locationAirplaneIndex "location-airplane" }}

<main class="section section--padded">
    <h1 class="h1">Come raggiungerci</h1>


    <div class="location">
        <!-- region navigation -->
        <nav class="location-navigation" aria-label="Sezioni della location">
            <ul class="location-navigation__list">
                <li>
                    <a href="#location-introduction" class="location-navigation__item">
                        <span class="location-navigation__item-icon" aria-hidden="true"></span>
                        <span class="location-navigation__item-text">Introduzione</span>
                    </a>
                </li>
                <li>
                    <a href="#location-auto" class="location-navigation__item">
                        <span class="location-navigation__item-icon" aria-hidden="true"></span>
                        <span class="location-navigation__item-text">In Auto</span>
                    </a>
                </li>
                <li>
                    <a href="#location-parking" class="location-navigation__item">
                        <span class="location-navigation__item-icon" aria-hidden="true"></span>
                        <span class="location-navigation__item-text">Parcheggio</span>
                    </a>
                </li>
                <li>
                    <a href="#location-public-transport" class="location-navigation__item">
                        <span class="location-navigation__item-icon" aria-hidden="true"></span>
                        <span class="location-navigation__item-text">Treno</span>
                    </a>
                </li>
                <li>
                    <a href="#location-airplane" class="location-navigation__item">
                        <span class="location-navigation__item-icon" aria-hidden="true"></span>
                        <span class="location-navigation__item-text">In Aereo</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- region introduction -->
        <div class="location-introduction" id="location-introduction">
            <div class="location-introduction__header">
                <h2 class="h2">{{ $locationIntroduction.title }}</h2>
            </div>
            <div class="location-introduction__item">
                <div class="location-introduction__item-info">
                    <div class="location-introduction__item-info-item">
                        <div class="location-introduction__item-info-content">
                            <h4><strong>Indirizzo:</strong></h4>
                            <p>{{ $locationIntroduction.address }}</p>
                        </div>
                    </div>

                    <div class="location-introduction__item-info-item">
                        <div class="location-introduction__item-info-content">
                            <h4><strong>Sito Ufficiale:</strong></h4>
                            <p><a href="{{ $locationIntroduction.website }}" target="_blank" class="website-link">{{ $locationIntroduction.website }} →</a></p>
                        </div>
                    </div>

                    <div class="location-introduction__item-info-item">
                        <div class="location-introduction__item-info-content">
                            <h4><strong>Accessibilità:</strong></h4>
                            <p>Accesso privo di barriere architettoniche</p>
                        </div>
                    </div>
                </div>
                <div class="location-introduction__item-map">
                    {{ partial "location.html" . }}
                </div>
            </div>
            <div class="location-introduction__photos">
                {{ $img1 := $locationImage1.Fit "500x500 q100 jpg" }}
                {{ $img2 := $locationImage2.Fit "500x500 q100 jpg" }}
                <img src="{{ $img2.RelPermalink }}" alt="Interno della chiesa di San Carlo">
                <img src="{{ $img1.RelPermalink }}" alt="Facciata storica del palazzo barocco">
            </div>

            <div class="location-introduction__description">
               <h3 class="h3">Informazioni</h3>
               <div class="location-introduction__description-content">
                   <p>{{ $locationIntroduction.description1 | safeHTML }}</p>
                   <p>{{ $locationIntroduction.description2 | safeHTML }}</p>
                   <p>{{ $locationIntroduction.description3 | safeHTML }}</p>
               </div>
            </div>

        </div>

        <!-- region auto -->
        <div class="location-auto" id="location-auto">
            <h2 class="location-auto__item-title h2">In Auto</h2>

            <div class="location-auto-warning">
                <h3 class="location-auto-warning__title h3"> ⚠️ Attenzione alla Zona a Traffico Limitato (ZTL)!</h3>
                <p>La Fondazione San Carlo si trova all'interno della Zona a Traffico Limitato (ZTL) di Modena. Per
                    raggiungere la Fondazione San Carlo, abbiamo selezionato alcuni parcheggi consigliati:</p>
            </div>

            {{ range $locationAuto }}
            <div class="location-auto__item">
                <h3 class="h3">{{ .title }}</h3>
                    <ol class="location-auto__item-list">
                        <li>{{ .step1 }}</li>
                        <li>{{ .step2 }}</li>
                        <li>{{ .step3 }}</li>
                        <li>{{ .step4 }}</li>
                    </ol>
            </div>
            {{ end }}
        </div>

        <!-- region parking -->
        <div class="location-parking" id="location-parking">
            <h2 class="location-parking__item-title h2">Parcheggi Consigliati</h2>
            {{ range $parking }}
            <div class="location-parking__item">
                <div class="location-parking__item-content">
                    <h3 class="h3">{{ .title }}</h3>
                    <p class="location-parking__item-address"><strong>Indirizzo:</strong> {{ .address }}</p>
                    <p class="location-parking__item-distance"><strong>Distanza:</strong> {{ .distance }}</p>
                    <p class="location-parking__item-extra"><strong>Extra:</strong> {{ .description }}</p>
                    <a href="{{ .link }}" class="location-parking__item-link" target="_blank" rel="noopener noreferrer">
                        Apri su Google Maps
                    </a>
                </div>
            </div>
            {{ end }}
        </div>

        <!-- region train -->
        <div class="location-public-transport" id="location-public-transport">
            <h2 class="location-public-transport__item-title h2">Treno</h2>
            {{ range $locationTrain }}
            <div class="location-public-transport__item">
                <div class="location-public-transport__item-content">
                    <h3 class="h3">{{ .title }}</h3>
                    <p class="location-public-transport__item-distance"><strong>Distanza:</strong> {{ .distance }}</p>
                    <p class="location-public-transport__item-address"><strong>Tempo:</strong> {{ .time }}</p>
                    <p class="location-public-transport__item-extra"><strong>Extra:</strong> {{ .description }}</p>
                    <a href="{{ .link }}" class="location-public-transport__item-link" target="_blank" rel="noopener noreferrer">
                        Apri percorso su Google Maps
                    </a>
                </div>
            </div>
            {{ end }}
        </div>

        <!-- region airplane -->
        <div class="location-airplane" id="location-airplane">
            <h2 class="location-airplane__item-title h2">In Aereo</h2>
            {{ range $locationAirplane }}
            <div class="location-airplane__item">
                <div class="location-airplane__item-content">
                    <h3 class="h3">{{ .title }}</h3>
                    <p class="location-airplane__item-distance"><strong>Distanza:</strong> {{ .distance }}</p>
                    <p class="location-airplane__item-address"><strong>Indicazioni:</strong> {{ .suggestion }}</p>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</main>
{{ end }}