@import "./tokens/google.css";

@property --devfest-modena-font-family {
  syntax: "<string>";
  inherits: true;
  initial-value: "sans-serif"; /* need to change this! */
}

:root {
  --devfest-modena-base-unit: calc(8rem / 16);
}
