/* need to change this, it's just an example color! */
@property --devfest-modena-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0.6304 0.18 259.96);
}

:root {
  --devfest-modena-primary-100: color-mix(
    in oklch,
    var(--devfest-modena-primary) 10%,
    white
  );
  --devfest-modena-primary-200: color-mix(
    in oklch,
    var(--devfest-modena-primary) 20%,
    white
  );
  --devfest-modena-primary-300: color-mix(
    in oklch,
    var(--devfest-modena-primary) 30%,
    white
  );
  --devfest-modena-primary-400: color-mix(
    in oklch,
    var(--devfest-modena-primary) 40%,
    white
  );
  --devfest-modena-primary-500: color-mix(
    in oklch,
    var(--devfest-modena-primary) 50%,
    white
  );
  --devfest-modena-primary-600: color-mix(
    in oklch,
    var(--devfest-modena-primary) 40%,
    black
  );
  --devfest-modena-primary-700: color-mix(
    in oklch,
    var(--devfest-modena-primary) 30%,
    black
  );
  --devfest-modena-primary-800: color-mix(
    in oklch,
    var(--devfest-modena-primary) 20%,
    black
  );
  --devfest-modena-primary-900: color-mix(
    in oklch,
    var(--devfest-modena-primary) 10%,
    black
  );
}
