<!DOCTYPE html>
<html class="no-js" lang="{{ .Param "pageLang" | default $.Site.LanguageCode }}" dir="ltr">

<head>
  {{- partial "head.html" . -}}
  {{- partial "styles.html" . -}}
  {{- partial "microformats.html" . -}}
</head>

<body>
  {{ if or (eq .Layout "landing") (.Param "hideSiteHeader") }}

  {{ else }}
  {{- partial "header.html" . -}}
  {{ end }}
  {{- block "main" . }}{{- end }}
  {{ if not (.Param "hideSiteCtas") }}
  <section class="container">
    {{- partial "cta-tickets.html" . -}}
    {{- partial "cta-cv.html" . -}}
  </section>
  {{ end }}
  {{ if not (.Param "hideSiteFooter") }}
  {{- partial "footer.html" . -}}
  {{ end }}
  {{- partial "scripts.html" . -}}
</body>

</html>
