<!DOCTYPE html>
<html class="no-js" lang="{{ .Language.LanguageCode }}" dir="{{ default "ltr" .Language.LanguageDirection }}">

<head>
  {{- partial "head.html" . -}}
  {{- partialCached "styles.html" . "styles" -}}
  {{- partial "social-meta.html" . -}}
  {{- partial "schema.html" . -}}
</head>

<body>
  {{- partial "header.html" . -}}

  {{- block "main" . }}{{- end }}

  <section class="container">
    {{- partial "cta-tickets.html" . -}}
    {{- partial "cta-cv.html" . -}}
  </section>

  {{- partial "footer.html" . -}}

  {{- partialCached "scripts.html" . "scripts" -}}
</body>

</html>
