@import 'partials/fonts';
@import 'partials/navbar';
@import 'partials/colors';

*{
    box-sizing: border-box;
    margin: 0;
    font-family: dmsans;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.flexbox{
    display: flex;
    &.align-center{
        align-items: center;
    }
    &.align-top{
        align-items: flex-start;
    }
    &.justify-center{
        justify-content: center;
    }
    &.justify-between{
        justify-content: space-between;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.column{
        flex-direction: column;
    }
}
section{
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    &.full{
        height: 100vh;
        width: 100%;
    } 
    &.at-least-full{
        min-height: 100vh;
        width: 100%;
    }   
    .full{
        height: 100%;
        width: 100%;
    }
    .content{

    }
}
.pad-24{
    padding: 24px;
}
.pad-48{
    padding: 48px;
}
.radius-24{
    border-radius: 24px;
}
.black-layer{
    position: relative;
    &:before{
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}
.black-layer-24{
    position: relative;
    z-index: 0;
    &:before{
        z-index: -1;
        border-radius: 24px;
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}
.background{
    background: $background;
}
.secondary-background{
    background: $secondaryBackground;
}
.background-inv{
    background: $backgroundInv;
    *{
        color: $textSecondary !important;
    }
}
.text-primary{
    color: $textPrimary;
}
.text-secondary{
    color: $textSecondary;
}
.text-ternary{
    color: $textTernary;
}
.text-accent{
    color: $textAccent;
}
.text-accent-2{
    color: $textAccent2;
}
.text-accent-3{
    color: $textAccent3;
}
button, .button-like{
    border: none;
    text-align: center;
    font-family: dmsans;
    font-size: 1rem;
    background: $accent1;
    color: $textSecondary;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}
hr{
    background: $textPrimary;
    height: 3px;
}
#page{
    #hero, #content{
        padding-left: 240px;
        padding-right: 240px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    #content{
        background: $background;
        border-top: 2px solid #c9c9c9;
        border-bottom: 2px solid #c9c9c9;
    }
}
.card{
    background-color: $ternaryBackground;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #8f8f8f;
    border-radius: 24px;;
    .image{
        width: 100%;
        text-align: center;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    } 
    .highlight{
        text-align: center;
        width: 100%;

    }
    .content{
        text-align: center;
        width: 100%;
    }
}
.info-box {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 12px;
}

.info-box h3 {
  font-size: 1.65rem;
  color: #4285F4;
  margin-bottom: 10px;
  margin-left: 5px;
}

.info-box p {
  font-size: 1rem;
  margin-bottom: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.swapper-500{
    container: swapper-500 / inline-size;
    .to-swap{
        display: none;
    }
}
@container swapper-500 (max-width: 500px){
    .main{
        display: none;
    }
    .to-swap{
        display: block !important;
    }
}