---
//example page for dynamic routing, to list all the years of the archive.
const yearPages = import.meta.glob("./[0-9][0-9][0-9][0-9]/index.astro");

const years = Object.keys(yearPages)
  .map((path) => path.match(/\.\/(\d{4})\/index\.astro$/)?.[1])
  .filter(Boolean)
  .sort((a, b) => Number(b) - Number(a));
---

<h1>Archive</h1>

<ul>
  {
    years.map((year) => (
      <li>
        <a href={`/${year}`}>{year}</a>
      </li>
    ))
  }
</ul>
