{{ define "main" }}
{{- $slug := cond (ne .File.BaseFileName "index") .File.BaseFileName (path.Base (path.Clean .File.Dir)) -}}
{{- $year := printf "%v" (.Param "year") -}}
{{- $yearStr := printf "%v" $year -}}

<main class="section section--padded">
  <h1 class="h1">{{ .Title }}</h1>

  <div class="partnerPage-description">
    <div class="content">
      {{ .Content }}
    </div>
    {{ $img := resources.Get (printf "%s/partners/%s.jpg" $yearStr $slug) }}
    {{ if not $img }}{{ $img = resources.Get (printf "%s/partners/%s.png" $yearStr $slug) }}{{ end }}
    {{ if not $img }}{{ $img = resources.Get (printf "%s/partners/%s.webp" $yearStr $slug) }}{{ end }}
    {{ if $img }}
    {{ $img := $img.Fit "400x400 webp q85" }}
    <img class="partnerPage-image" width="{{ $img.Width }}" height="{{ $img.Height }}" src="{{ $img.Permalink }}"
      alt="{{ .Title }} image">
    {{ end }}
  </div>

</main>
{{ end }}