{{ if .Page.Params.lightningTalks }}

{{ range $talk := .Page.Params.lightningTalks }}
  <details class="lightningTalk" name="lightningTalks">
    <summary class="lightningTalk-title {{if $talk.done}}lightningTalk-title--done{{end}}"><b class="link">{{ $talk.title }}</b> — {{ $talk.speaker }}</summary>
    <div class="lightningTalk-description">
      <p>{{ $talk.description }}</p>
      {{ if $talk.slidesURL }}<p>Guarda le <a href="{{ $talk.slidesURL }}" target="_blank">slide</a>.</p>{{ end }}
    </div>
  </details>
{{ end }}
{{ else }}
<p><i>~ Coming soon ~</i></p>
{{ end }}
<br>
