{{ $img := (resources.Get "images/logo-simple.png").Resize "500x webp q85" }}

<section class="ctaTickets">
  <div class="ctaTickets-content">
    <div class="ctaTickets-info">
      <h2 class="ctaTickets-title">{{ i18n "ctaTicketsTitle" }}</h2>
      <p class="p">{{ printf (i18n "ctaTicketsText1") (printf "%v" .Site.Params.currentEdition) }}</p>
      <p class="p">{{ i18n "ctaTicketsText2" }}</p>
      <a class="button" href="{{ .Site.Params.ticketsUrl }}" target="_blank" rel="noopener">
        {{ i18n "ctaTicketsBtn" | default (i18n "getTicket") }}
      </a>
    </div>
    <img class="ctaTickets-image" src="{{ $img.RelPermalink }}" alt="Devfest Modena Logo" width="{{ $img.Width }}" height="{{ $img.Height }}">
  </div>
</section>
