.white-card {
  background: #fff;
  border-radius: 1rem;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.max-width-450 {
    max-width: 450px;
  }

  &.team-card {
    width: 250px;
    height: 400px;
    border: 1px solid #dedede;
  }

  &.sponsor-card {
    width: 250px;
    height: 300px;
    border: 1px solid #dedede;
    justify-content: center;
    text-align: center;
  }

  .image {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 12px;

    &.riccardo-carlesso {
      background: url("~/assets/img/riccardo-carlesso.jpg");
      background-size: cover;
    }

    &.moreno-razzoli {
      background: url("~/assets/img/moreno-razzoli.jpg");
      background-size: cover;
    }

    &.susanna-wong {
      background: url("~/assets/img/susanna-wong.jpg");
      background-size: cover;
    }

    &.mirko-gilioli {
      background: url("~/assets/img/mirko-gilioli.jpeg");
      background-size: cover;
    }

    &.maurizio-ipsale {
      background: url("~/assets/img/maurizio-ipsale.jpg");
      background-size: cover;
    }

    &.maurizio-carli {
      background: url("~/assets/img/maurizio-carli.jpg");
      background-size: cover;
    }

    &.marco-breveglieri {
      background: url("~/assets/img/marco-breveglieri.jpg");
      background-size: cover;
    }

    &.luca-del-puppo {
      background: url("~/assets/img/luca-del-puppo.jpg");
      background-size: cover;
    }

    &.giovanni-perteghella {
      background: url("~/assets/img/giovanni-perteghella.jpg");
      background-size: cover;
    }

    &.jai-campbell {
      background: url("~/assets/img/jai-campbell.jpg");
      background-size: cover;
    }

    &.flavio-basile {
      background: url("~/assets/img/flavio-basile.jpg");
      background-size: cover;
    }

    &.francesco-baldassarri {
      background: url("~/assets/img/francesco-baldassarri.jpg");
      background-size: cover;
    }

    &.carlo-lucera {
      background: url("~/assets/img/carlo-lucera.jpg");
      background-size: cover;
    }

    &.ankur-roy {
      background: url("~/assets/img/ankur-roy.jpg");
      background-size: cover;
    }

    &.amanda-cavallaro {
      background: url("~/assets/img/amanda-cavallaro.jpg");
      background-size: cover;
    }

    &.alfonso-graziano {
      background: url("~/assets/img/alfonso-graziano.jpg");
      background-size: cover;
    }

    &.imran-us-salam-mian {
      background: url("~/assets/img/imran-us-salam-mian.jpg");
      background-size: cover;
    }

    &.paolo-galeone {
      background: url("~/assets/img/paolo-galeone.jpg");
      background-size: cover;
    }

    &.biagio-grimolizzi {
      background: url("~/assets/img/biagio-grimolizzi.jpg");
      background-size: cover;
    }

    &.carmine-zaccagnino {
      background: url("~/assets/img/carmine-zaccagnino.jpg");
      background-size: cover;
    }

    &.dario-varriale {
      background: url("~/assets/img/dario-varriale.jpg");
      background-size: cover;
    }

    &.davide-muzzarelli {
      background: url("~/assets/img/davide-muzzarelli.jpg");
      background-size: cover;
    }

    &.elia-tolin {
      background: url("~/assets/img/elia-tolin.jpg");
      background-size: cover;
    }

    &.francesca-palazzo {
      background: url("~/assets/img/francesca-palazzo.jpg");
      background-size: cover;
    }

    &.francesco-boschetti {
      background: url("~/assets/img/francesco-boschetti.jpg");
      background-size: cover;
    }

    &.marco-arena {
      background: url("~/assets/img/marco-arena.jpg");
      background-size: cover;
    }

    &.emiliano-maccaferri {
      background: url("~/assets/img/emiliano-maccaferri.jpg");
      background-size: cover;
    }

    &.marco-savarese {
      background: url("~/assets/img/marco-savarese.jpg");
      background-size: cover;
    }

    &.maurizio-ipsale {
      background: url("~/assets/img/maurizio-ipsale.jpg");
      background-size: cover;
    }

    &.maurizio-carli {
      background: url("~/assets/img/maurizio-carli.jpg");
      background-size: cover;
    }

    &.niccolo-maria-menozzi {
      background: url("~/assets/img/niccolo-maria-menozzi.jpg");
      background-size: cover;
    }

    &.davide-cavallini {
      background: url("~/assets/img/davide-cavallini.jpeg");
      background-size: cover;
    }

    &.antonio-de-blasi {
      background: url("~/assets/img/antonio-de-blasi.png");
      background-size: cover;
    }

    &.matteo-maria-terzuolo {
      background: url("~/assets/img/matteo-maria-terzuolo.jpg");
      background-size: cover;
    }

    &.conoscere-linux {
      background: url("~/assets/img/Logo1.png");
      background-size: cover;
    }

    &.flutter-modena {
      background: url("~/assets/img/Logo2.png");
      background-size: cover;
    }

    &.gdg-modena {
      background: url("~/assets/img/Logo3.png");
      background-size: cover;
    }

    &.ml-modena {
      background: url("~/assets/img/Logo4.png");
      background-size: cover;
    }

    &.modena-full-stack {
      background: url("~/assets/img/Logo5.png");
      background-size: cover;
    }

    &.gdg-bologna {
      background: url("~/assets/img/Logo6.png");
      background-size: cover;
    }

    &.atobit {
      background: url("~/assets/img/atobit.webp");
      background-size: cover;
    }

    &.dualbit {
      background: url("~/assets/img/dualbit.webp");
      background-size: cover;
    }

    &.netai {
      background-image: url("~/assets/img/netAi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.studio-dgp {
      background-image: url("~/assets/img/studio-dgp.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.qubicaamf {
      background-image: url("~/assets/img/qubica.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.quix {
      background-image: url("~/assets/img/logo-quix.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.google {
      background: url("~/assets/img/google.webp");
      background-size: cover;
    }

    &.jetbrains {
      background: url("~/assets/img/jetbrains.webp");
      background-size: cover;
    }

    &.netframe {
      background: url("~/assets/img/netframe.webp");
      background-size: cover;
    }

    &.zuru {
      background: url("~/assets/img/zuru.webp");
      background-size: cover;
    }

    &.coder-dojo {
      background: url("~/assets/img/coder-dojo.png");
      background-size: cover;
    }

    &.image-staff {
      height: 200px;
    }
  }
}

.circle {
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;

  &.radius-300 {
    border-radius: 300px;
    max-height: 300px;
    max-width: 300px;

    &.riccardo-carlesso {
      background: url("~/assets/img/riccardo-carlesso.jpg");
      background-size: cover;
    }

    &.moreno-razzoli {
      background: url("~/assets/img/moreno-razzoli.jpg");
      background-size: cover;
    }

    &.susanna-wong {
      background: url("~/assets/img/susanna-wong.jpg");
      background-size: cover;
    }

    &.marco-breveglieri {
      background: url("~/assets/img/marco-breveglieri.jpg");
      background-size: cover;
    }

    &.luca-del-puppo {
      background: url("~/assets/img/luca-del-puppo.jpg");
      background-size: cover;
    }

    &.giovanni-perteghella {
      background: url("~/assets/img/giovanni-perteghella.jpg");
      background-size: cover;
    }

    &.jai-campbell {
      background: url("~/assets/img/jai-campbell.jpg");
      background-size: cover;
    }

    &.flavio-basile {
      background: url("~/assets/img/flavio-basile.jpg");
      background-size: cover;
    }

    &.francesco-baldassarri {
      background: url("~/assets/img/francesco-baldassarri.jpg");
      background-size: cover;
    }

    &.carlo-lucera {
      background: url("~/assets/img/carlo-lucera.jpg");
      background-size: cover;
    }

    &.ankur-roy {
      background: url("~/assets/img/ankur-roy.jpg");
      background-size: cover;
    }

    &.amanda-cavallaro {
      background: url("~/assets/img/amanda-cavallaro.jpg");
      background-size: cover;
    }

    &.alfonso-graziano {
      background: url("~/assets/img/alfonso-graziano.jpg");
      background-size: cover;
    }

    &.imran-us-salam-mian {
      background: url("~/assets/img/imran-us-salam-mian.jpg");
      background-size: cover;
    }

    &.paolo-galeone {
      background: url("~/assets/img/paolo-galeone.jpg");
      background-size: cover;
    }

    &.matteo-maria-terzuolo {
      background: url("~/assets/img/matteo-maria-terzuolo.jpg");
      background-size: cover;
    }

    &.marco-arena {
      background: url("~/assets/img/marco-arena.jpg");
      background-size: cover;
    }

    &.coder-dojo {
      background: url("~/assets/img/coder-dojo.png");
      background-size: cover;
    }

    &.mirko-gilioli {
      background: url("~/assets/img/mirko-gilioli.jpeg");
      background-size: cover;
    }

    &.maurizio-ipsale {
      background: url("~/assets/img/maurizio-ipsale.jpg");
      background-size: cover;
    }

    &.maurizio-carli {
      background: url("~/assets/img/maurizio-carli.jpg");
      background-size: cover;
    }
  }
}

.timetable-card {
  .header {
    background: $accent2;
  }

  .content {
    padding: 24px;
    background: $ternaryBackground;
    flex: 1;
  }

  &.break {
    overflow: hidden;
    display: flex;
    gap: 0;

    &.above {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;

      &.border-bottom {
        border-bottom: 2px solid #cecece;
      }
    }

    &.below {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      border-bottom: none;

      &.border-top {
        border-top: 2px solid #cecece;
        border-bottom: none;
      }
    }

    &.middle {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &.border-top {
        border-top: 2px solid #cecece;
      }

      &.border-bottom {
        border-bottom: 2px solid #cecece;
      }
    }

    .header {
      @media screen and (min-width: 549px) {
        width: 150px;
      }
    }
  }

  &.event {
    display: flex;
    flex-direction: column;

    .header {
      padding: 24px;
    }

    &.border {
      border-left: 2px solid #cecece;
      border-right: 2px solid #cecece;
    }
  }
}