$background: #f0f0f0;
$backgroundInv: #1e1e1e;
$secondaryBackground: #c3ecf6;
$ternaryBackground: #fefefe;
$textPrimary: #1e1e1e;
$textSecondary: #fefefe;
$textTernary: #868686;
$textAccent: #4285f4;
$textAccent2: #f9ab00;
$textAccent3: #ea4335;
$accent1: #34a853;