@import 'colors';
#navbar{
    max-width: calc(1800px - 96px);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    top: 48px;
    left: 48px;
    right: 48px;
    width: calc(100% - 48px - 48px);
    #logo{
        color: $textSecondary;
        display: flex;
        gap: 12px;
        align-items: center;
    }
    #hamburger{
        cursor: pointer;
        background: $background;
        width: 80px;
        height: 80px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        justify-content: center;
        #bars{
            display: flex;
            gap: 12px;
            flex-direction: column;   
        }
        #bars-45{
            display: block;
            position: relative;
            .bar{
                position: absolute;
                &:nth-child(1){
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                }
            }
        }
        #bars, #bars-45{
            .bar{
                background: $textPrimary;
                width: 100%;
                height: 2px;
            }
        }
    }
    &.dark{
        #logo{
            color: $textPrimary;
        }
        #hamburger{
            background: $textPrimary;
            #bars, #bars-45{
                .bar{
                    background: $background;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    #navbar{
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        width: 100%;
        background-color: rgba($background, 0.25);
        backdrop-filter: blur(4px);
        padding-left: 24px;
        padding-right: 24px;
        #hamburger{
            width: 40px;
            height: 40px;
            border-radius: 6px;
            padding: 12px;
            #bars{
                gap: 6px;
            }
        }
    }
}