@use "_responsive" as r;

@use "_default/_colors";
@use "_default/_effects";
@use "_default/_fonts";
@use "_default/_spaces";

@if r.$core {
  .banner {
    display: grid;
    align-items: center;
    padding: spaces.$space-2xl spaces.$space-m;
    background-color: colors.$warning--2;
    gap: spaces.$space-l;
    --min: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }
  .banner-title {
    color: colors.$black;
  }
  .banner-subtitle {
    margin: spaces.$space-xs 0 spaces.$space-s 0;
  }
  .banner-image {
    justify-content: center;
    display: flex;
  }
  .banner-button {
    color: colors.$primary-contrast;
    padding: spaces.$space-xs spaces.$space-m;
    font-size: fonts.$size-0;
  }
}
