@use "_responsive" as r;

@use "_default/_colors";
@use "_default/_effects";
@use "_default/_fonts";
@use "_default/_spaces";

@if r.$core {
  .button {
    display: inline-block;
    padding: spaces.$space-xs spaces.$space-m;
    border: 2px solid transparent;
    @extend %rounded;
    background-color: colors.$primary-1;
    color: colors.$primary-contrast;
    text-decoration: none;
    margin-left: spaces.$space-3xs;
    margin-right: spaces.$space-3xs;
    font-size: fonts.$size-0;
    font-weight: bold;
    transition:
      transform effects.$time ease,
      box-shadow effects.$time ease,
      border-color effects.$time ease,
      background-color effects.$time ease;

    &:link,
    &:visited {
      color: colors.$primary-contrast;
      text-decoration-color: transparent;
    }

    &:hover {
      background-color: colors.$primary-2;
      border-color: colors.$primary-2;
      color: colors.$primary-contrast;
    }

    &:focus-visible {
      outline: 3px solid colors.$primary-2;
      outline-offset: 2px;
    }
  }

  .button--small {
    padding: spaces.$space-2xs spaces.$space-s;
    font-size: fonts.$size--1;
  }
}
