@use "_responsive" as r;

@use "_default/_spaces";

@if r.$core {
  .communities {
    margin-top: spaces.$space-l;
  }

  .communities-grid {
    display: flex;
    flex-wrap: wrap;
    gap: spaces.$space-s;
    justify-content: center;
    align-items: center;
  }
}

@if r.$mobile {
  .communities-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@if r.$tablet {
  .communities-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@if r.$desktop {
  .communities-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
