@use "_default/_spaces";
@use "_default/_colors";

$common-padding: spaces.$space-s spaces.$space-xs;

.faq {
  .faq__item {
    margin-block-end: spaces.$space-2xs;
    .faq__question {
      padding: $common-padding;
      color: colors.$white;
      font-weight: bold;
      background-color: colors.$secondary;
      cursor: pointer;
    }
    .faq__answer {
      padding: $common-padding;
    }
  }
}
