@use "_responsive" as r;

@use "_default/_colors";
@use "_default/_effects";
@use "_default/_spaces";

@if r.$core {

    .highlight {
        background: colors.$warning--2;
        padding: spaces.$space-3xs spaces.$space-2xs;
        @extend %rounded;
        font-weight: 600;
        color: colors.$warning-contrast;
    }

}