// List of lightning talks

@use "_responsive" as r;

@use "_default/_fonts";
@use "_default/_spaces";
@use "_blocks/_ol";

@if r.$core {
  .lightningTalks {
    list-style-type: none;
    padding-left: 1em;
  }

  .lightningTalks-title {
  }

  .lightningTalks-title--done {
    text-decoration: line-through;
    opacity: 0.6;
  }

  .lightningTalks-title {
  }

  .lightningTalks-title:hover {
    cursor: pointer;
  }

  .lightningTalks-description {
    margin-left: 1em;
  }
}
