// List of lightning talks

@use "_responsive" as r;

@use "_default/_fonts";
@use "_default/_spaces";
@use "_blocks/_ol";

@if r.$core {
  .lightningTalks {
    @extend .ol;
    margin-left: 1em !important;
  }

  .lightningTalks-talk {
  }

  .lightningTalks-talk--done {
    text-decoration: line-through;
    opacity: 0.6;
  }

  .lightningTalks-title {
    font-weight: bold;
  }

  .lightningTalks-speaker {
  }
}
