// Ordered list OL.

@use "_responsive" as r;

@use "_default/_fonts";
@use "_default/_spaces";

@if r.$core {
  .ol {
    list-style-type: decimal;
    margin-bottom: fonts.$margin-text;
    margin-block-start: spaces.$space-xs;
    margin-block-end: spaces.$space-xs;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: spaces.$space-s;
  }
}
