// Room page.

@use "_responsive" as r;

@use "_default/_colors";
@use "_default/_effects";
@use "_default/_fonts";
@use "_default/_spaces";

@if r.$core {
    .partnerPage-description {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: spaces.$space-m;
    }

    .partnerPage-image {
        @extend %rounded;
        display: inline-block;
    }
}

@if r.$mobile or r.$tablet {
    .partnerPage-description {
        flex-direction: column;
    }

    .partnerPage-image {
        align-self: center;
        order: -1;
    }
}