@use "_responsive" as r;

@use "_default/_colors";
@use "_default/_effects";
@use "_default/_fonts";
@use "_default/_spaces";

@if r.$core {
  .sessions {
    margin-bottom: fonts.$margin-text;
    list-style-type: disc;
    margin-block-start: spaces.$space-xs;
    margin-block-end: spaces.$space-xs;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: spaces.$space-s;
  }

  .sessions-item {
    margin: spaces.$space-2xs 0;
  }

  .sessions-itemHead {
    font-weight: bold;
  }

  .sessions-itemDetails {
    font-size: fonts.$size--1;
  }

  .sessions-item--current {
    border: 2px solid colors.$secondary--1;
    border-radius: spaces.$space-2xs;
    padding: spaces.$space-2xs;
  }
  
  .sessions-item--past {
    opacity: 0.6;
  }

  .sessions-rooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: spaces.$space-2xs;
    flex-wrap: wrap;
  }

  .sessions-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: spaces.$space-2xs;
    padding: spaces.$space-2xs;
  }

  .sessions-contentImage {
    @extend %rounded;
    display: block;
    object-fit: contain;
    width: 100%;
    max-width: 350px;
  }
}

@if r.$mobile {
    .sessions-content {
        grid-template-columns: 1fr;
    }
}