@use "_responsive" as r;

@use "_default/_spaces";
@use "_default/_effects";
@use "_default/_fonts";
@use "_default/_colors";
@use "_blocks/_h3";

@if r.$core {
  .statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spaces.$space-l;
  }

  .statistics-item {
    text-align: center;
    font-weight: bold;
    font-size: fonts.$size-1;
  }

  .statistics-item--rooms {
    color: colors.$danger !important;
  }

  .statistics-item--speakers {
    color: colors.$tertiary !important;
  }

  .statistics-item--workshops {
    color: colors.$secondary !important;
  }

  .statistics-item--participants {
    color: colors.$primary !important;
  }

  .statistics-img {
    display: inline;
  }
}

@if r.$tablet {
  .statistics {
    flex-wrap: wrap;
  }

  .statistics-item {
    flex: 0 0 40%;
  }
}

@if r.$mobile {
  .statistics {
    flex-direction: column;
  }
}
