{{ define "main" }}
<main class="section section--padded">
  <h1 class="h1">{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
  <!--h2 class="h2">Sessioni</h2>
  <ul>
  {{ with site.GetPage (printf "/sessions/%d" .Site.Params.currentEdition) }}
    {{ range .Pages }}
      {{ range .Params.speakers }}
        {{ if eq . .Params.slug }}
          <li><p class="p"><b><a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a></b></p></li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </ul-->
</main>
{{ end }}
